@use '../../styles/variables' as *;

.item-card {
  background-color: $colorCardMeta !important;
  border: 1px solid $colorBordeCard !important;
  border-radius: 0.375rem;
  margin-top: 1rem;
  text-align: center;

  &:first-child {
    margin-top: 0;
  }

  .card-body {
    padding: 1.25rem;
  }
}

.item-card__title {
  color: $colorTexto;
  font-weight: 700;
  margin-bottom: 1rem;
}

.item-card__label {
  color: $colorTexto;
  font-weight: 700;
  margin-bottom: 0.25rem;
  font-size: 1rem;
}

.item-card__value {
  color: $colorTexto;
  margin-bottom: 0.75rem;
  font-weight: 400;

  &--date {
    margin-bottom: 1rem;
  }
}

.item-delete-btn {
  width: 100%;
  margin-top: 0.25rem;
  border-radius: 0.375rem;
}
